@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h2>Users List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@ViewBag.UserRoles[user.Id]</td>
            </tr>
        }
    </tbody>
</table>
